<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-label>Editar Productos</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="editarProductoForm" novalidate>
  <ion-list>
    <ion-item>
      <ion-label>Nombre </ion-label>
      <ion-input formControlName="name" placeholder="Nombre del producto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Detalle </ion-label>
      <ion-input formControlName="detalle" placeholder="Ingrese detalle" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>URL </ion-label>
      <ion-input formControlName="url" placeholder="Ingrese URL de la foto"></ion-input>
    </ion-item>
    <ion-item *ngIf="editarProductoForm.invalid && (editarProductoForm.dirty || editarProductoForm.touched)"
    color="danger">
      <ion-label *ngIf="editarProductoForm.controls['name'].errors?.['required']">
        Se debe ingresar un nombre
      </ion-label>
    </ion-item>
  </ion-list>
</form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>    
      <ion-col size="6" class="ion-text-center">
      <ion-button fill="clear" color="dark" [routerLink]="['/productos']">
        Volver
      </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button fill="clear" color="dark" (click)="editarProducto()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
